/*----------------------*/
/*  Estilos Generales   */
/*----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Colores del header */
    --header-bg-gradient: linear-gradient(-60deg, #f12e66, #2db8bd, #1a1a1a);
    --header-text-color: white;

    /* Colores de la navegación */
    --nav-bg-gradient: linear-gradient(-60deg, #f12e66, #2db8bd, #1a1a1a);
    --nav-link-color: white;
    --nav-link-hover-bg: rgba(255, 255, 255, 0.2);
    --nav-link-active-bg: #142a52;

    /* Colores del botón de chat */
    --chat-bg-gradient: linear-gradient(-60deg, #f12e66, #2db8bd);
    --chat-text-color: white;
    --chat-hover-bg: rgba(255, 255, 255, 0.2);

        /* Colores de los botones config y contacto */
    --button-primary-bg: #6c63ff;
    --button-primary-hover-bg: #574bff;
    --button-secondary-bg: #ccc;
    --button-secondary-hover-bg: #bbb;
    --button-volver-bg: #f12e66;
    --button-volver-hover-bg: #d10c4e;
    --button-text-color: white;
    --button-secondary-text-color: #333;
}

/* Estilo por defecto (modo claro) */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color:rgb(255, 255, 255);
    color: #333;
    padding-bottom: 0px;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */

body.dark-mode {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: white;
    padding-bottom: 50px;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo de botón de modo oscuro*/

.theme-button {
    position: fixed;
    right: 4rem;
    padding: 0rem 1rem;
    background: transparent;
    color: white;
    border: none;
    border-radius: 4dvh;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.theme-button:hover {
    background-color: var(--chat-hover-bg);
    transform: scale(1.2);
}

.theme-button:active {
    transform: scale(0.95);
}

.theme-button img {
    height: 2.5dvh;
    width: 2.5dvh;
}

.user-button {
    position: fixed;
    right: 0rem;
    padding: 0rem 1rem;
    background: transparent;
    color: white;
    border: none;
    border-radius: 2dvh;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.user-button:hover {
    background-color: var(--chat-hover-bg);
    transform: scale(1.2);
}

.user-button:active {
    transform: scale(0.95);
}

.user-button img {
    height: 2.5dvh;
    width: 2.5dvh;
}


/* Estilo de boton chat */

.chat-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    z-index: 100;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background: var(--chat-bg-gradient);
    color: var(--chat-text-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.chat-button:hover {
    background-color: var(--chat-hover-bg);
    transform: scale(1.1);
}

.chat-button:active {
    transform: scale(0.95);
}


/*----------------------*/
/*    Responsive        */
/*----------------------*/

@media (max-width: 900px) {
    .contenido-principal,
    .configuracion,
    .contacto form {
        max-width: 98vw;
        padding: 1rem 0.5rem;
    }

    .layout {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-principal {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0.5rem;
    }

    .footer-principal address,
    .footer-principal .api-seo {
        margin-left: 0;
        text-align: left;
    }
}

@media (max-width: 600px) {
    .header-principal h1 {
        font-size: 2rem;
    }

    .menu-principal ul {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;
    }

    .articulo,
    .about-me {
        padding: 1rem 0.5rem;
    }

    .tabla-usuarios img {
        width: 60px;
        height: 60px;
    }

    .footer-principal {
        font-size: 0.9rem;
    }

    .configuracion,
    .contacto form {
        padding: 0.5rem;
    }
}

/*----------------------*/
/*        Header        */
/*----------------------*/

.header-principal {
    background: var(--header-bg-gradient);
    color: var(--header-text-color);
    padding: 1.5rem;
    text-align: center;
}

.header-principal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.3);
        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.subtitulo {
    font-style: italic;
    opacity: 0.9;
    font-weight: 400;
        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*----------------------*/
/*      Navegación      */
/*----------------------*/

.menu-principal {
    background: var(--nav-bg-gradient);
    padding: 1rem;
    margin-bottom: 4rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-principal ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
        -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu-principal a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s, transform 0.2s;
}

.menu-principal a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    z-index: -1;
    transition: all 0.3s ease;
    opacity: 0;
}

.menu-principal a:hover {
    text-decoration: underline;
}

.menu-principal a:hover::before {
    background: var(--nav-link-hover-bg);
    opacity: 1;
    transform: scale(1.1);
}

.menu-principal a:active::before {
    background: var(--nav-link-active-bg);
    opacity: 1;
    transform: scale(1);
}

/*----------------------*/
/* Contenido principal  */
/*----------------------*/

.contenido-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.layout {
    display: flex;
    gap: 2rem;
}

.noticias {
    flex: 3;
}

.noticias h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1e777a;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #000000;
}

.articulo {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.articulo h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    font-size: 150%;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #2db8bd;
}

.articulo h4 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    font-size: 120%;
}

.articulo p {
    margin: 1.2rem;
}

.articulo img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.articulo img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.articulo figcaption {
    font-style: italic;
    opacity: 0.8;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

.articulo img:hover + figcaption {
    transform: translateY(20px);
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
    color: black;
    padding: 0.2rem;
    border-radius: 4px;
}

.articulo li {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    list-style-position: inside;
}

/*----------------------*/
/*       Sobre Mi       */
/*----------------------*/

.about-me {
    flex: 1;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
    max-height: 450px;
}

/*----------------------*/
/*      Contacto        */
/*----------------------*/

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.contacto h2 {
    text-align: center;
}

.contacto fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
}

.contacto legend {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}

.contacto label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contacto input[type="text"],
.contacto input[type="email"],

.contacto textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.contacto button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--button-text-color);
    background-color: var(--button-primary-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto button:hover {
    background-color: var(--button-primary-hover-bg);
}

.contacto button[type="reset"] {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text-color);
}

.contacto button[type="reset"]:hover {
    background-color: var(--button-secondary-hover-bg);
}

.contacto button[type="button"] {
    background-color: var(--button-volver-bg);
}

.contacto button[type="button"]:hover {
    background-color: var(--button-volver-hover-bg);
}

/*----------------------*/
/*    Configuración     */
/*----------------------*/

.configuracion {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.configuracion h2 {
    text-align: center;
}

.configuracion fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.configuracion legend {
    font-weight: bold;
    font-size: 1.2rem;
    color: #6c63ff;
    margin-bottom: 0.5rem;
}

.configuracion label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}


.configuracion input[type="text"],
.configuracion input[type="date"],
.configuracion input[type="password"],
.configuracion input[type="file"],
.configuracion input[type="color"],


.configuracion select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin-bottom: 1rem;
}


.configuracion button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--button-text-color);
    background-color: var(--button-primary-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.configuracion button:hover {
    background-color: var(--button-primary-hover-bg);
}

.configuracion button[type="reset"] {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text-color);
}

.configuracion button[type="reset"]:hover {
    background-color: var(--button-secondary-hover-bg);
}

.configuracion button[type="button"] {
    background-color: var(--button-volver-bg);
}

.configuracion button[type="button"]:hover {
    background-color: var(--button-volver-hover-bg);
}

.tabla-usuarios {
    width: 100%;
    overflow-x: auto;
    display: block;
}

.tabla-usuarios th {
    background-color: #3498db;
    color: white;
}

.tabla-usuarios tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-usuarios tr:hover {
    background-color: #e8f4f8;
}

.tabla-usuarios td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: center;
    font-size: 0.9rem;
}

.tabla-usuarios img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.tabla-usuarios img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tabla-usuarios th {
    background-color: #6c63ff;
    color: white;
    font-weight: bold;
}

/*----------------------*/
/*        Footer        */
/*----------------------*/

.footer-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #10161d;
    color: white;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

.footer-principal address {
    flex: 1;
    text-align: left;
    margin-left: 10rem;
}

.footer-principal .api-seo {
    flex: 2;
    text-align: left;
    margin-left: 15rem;
}

.footer-principal h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: underline;
    color: #32c9ce;
}

.footer-principal h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-principal a {
    color: #9b59b6;
    text-decoration: none;
    font-style: italic;
}

.footer-principal a:hover {
    text-decoration: underline;
}

.footer-principal blockquote {
    font-style: italic;
    opacity: 0.9;
    margin: 1rem 0;
}

.footer-principal dt {
    text-decoration: underline;
    color: #2db8bd;
}

.footer-principal cite {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #9b59b6;
}
